
*.json
*.cmake
*.bin
*.txt
*.out
*.c
*.cpp
*.make
*.check_cache
c++_Library/build/CMakeFiles/CMakeOutput.log
c++_Library/build/Makefile
*.marks
c++_Library/cmake-build-debug/CMakeFiles/c___Library.dir/Book.cpp.o
*.txt
*.o
*.txt
c++_Library/build/CMakeFiles/Makefile2
c++_Library/cmake-build-debug/c___Library
c++_Library/cmake-build-debug/c___Library
*.internal
c++_Library/cmake-build-debug/Makefile
*.txt
*.make
